[2021-07-17 11:56] talhakpg opened #1 "Forgot password link on login page redirection is wrong. [WebAdmin]"
Steps to replicate:

1. Navigate to https://www.stagingwin.com:6108/webadmin/auth/login
2. Click on 'Forgot Password?'

Expected Result:
User should be redirected to Forgot Password page where a user can request/update password.

Actual Result:
User is redirected to the customer portal.

Screen:
https://www.screencast.com/t/Oq4rb9Rh

[2021-07-17 12:04] talhakpg opened #2 "Zip textbox has placeholder typo.[Needs approval]"
'ZSip' should be 'Zip'.

![image](https://user-images.githubusercontent.com/11936336/126036288-85df96a9-6cca-4026-81e8-f2b318849242.png)

[2021-07-17 12:17] talhakpg opened #3 "Enter key action on 'Add Agency Details' form has to be better defined."
Steps:

1. Navigate to https://www.stagingwin.com:6108/webadmin/auth/login
2. Login using valid credentials
3. Click on the 'Manage Agency' tab
4. Click '+Add Agency' button
5. Click on any of the textbox(except description)
6. Tap Enter key

Expected Result:
1. No action performed on tappping Enter key.
2. Form submission should be initiated and error message should be shown asking user to fill u

[2021-07-18 11:16] talhakpg opened #4 "Strange behavior observed on using search feature"
Navigate to https://www.stagingwin.com:6108/web/manage-users/users

When a user tries to use the search feature. As soon as the user types a name the list of items displayed starts changing in an uneven manner. Also on pressing the enter key at times, it displays a limited number of results, and other times it shows the complete list.
The behavior is not consistant.

Screen:

https://user-images.g

[2021-07-18 11:37] talhakpg opened #5 "Desired address is not shown completely on the address field."
Steps:

1. Navigate to https://www.stagingwin.com:6108/
2. Login using valid 'Provider' credentials
3. Expand 'Manage Users' Tab
4. Click 'Add User'
5. Type an address and select the sggested address.[Test data: Qassim University]

Expected:
The address field should be popluated with complete address as shown on suggestion.

Actual Result:
Only a part of the address is shown.

Screen:

https://use

[2021-07-18 11:40] talhakpg opened #6 "Country dropdown has only 'US' as an option"
Steps:

1. Navigate to https://www.stagingwin.com:6108/
2. Login using valid 'Provider' credentials
3. Expand 'Manage Users' Tab
4. Click 'Add User'
5. Click on 'Country' Dropdown

Expected:
There should be other countries, or at least Saudi Arabia as an option.

Actual Result:

Only US is shown as an option.

Screen:
![image](https://user-images.githubusercontent.com/11936336/126065599-6671e96d-6

[2021-07-18 12:15] talhakpg opened #7 "Save and continue button should be shown on availability tab and afterward"
There should be a save and continue on the availability tab as was on the previous tabs for adding a new user.

![image](https://user-images.githubusercontent.com/11936336/126066639-053cbe6d-3c8c-4c0c-804b-339d9b92ace3.png)

[2021-07-18 12:23] talhakpg opened #8 "Place a convention for accepting number. Accept only valid number."
Steps:

1. Navigate to https://www.stagingwin.com:6108/
2. Login using valid 'Provider' credentials
3. Expand 'Manage Users' Tab
4. Click 'Add User'

Expected :
The user should be able to enter only valid phone numbers.
![image](https://user-images.githubusercontent.com/11936336/126066811-b9b8fd65-3523-450c-b896-06e84f7c5542.png)

Actual:
User is able to save invalid phone number.
![image](https:/

[2021-07-20 10:10] adhamgsalem opened #9 "IF language is set to AR then the language settings should show the other language as EN"
![Tashafi-Healthcare 2021-07-20 09-12-24](https://user-images.githubusercontent.com/7084124/126306565-2c35905a-bd7c-48d9-b55c-9fb9aee23fcd.png)

[2021-07-20 10:11] adhamgsalem opened #10 "Change the flag for AR to be Saudi Arabia's flag"
![Uploading Tashafi-Healthcare 2021-07-20 09-13-57.png…]()

[2021-07-20 10:12] adhamgsalem opened #11 "Align header elements to Right IF AR and to the Left IF EN"
![Tashafi-Healthcare 2021-07-20 09-15-44](https://user-images.githubusercontent.com/7084124/126306801-e9dd6674-f182-452d-8cff-a8f1f6f5a17c.png)

[2021-07-20 10:13] adhamgsalem opened #12 "Button is not functioning or redirecting to the page which has the text"
![Tashafi-Healthcare 2021-07-20 09-18-18](https://user-images.githubusercontent.com/7084124/126306917-bf98e197-fd5f-4c2b-a8ed-316b51683bbb.png)

[2021-07-20 10:14] adhamgsalem opened #13 "Remove the keyword DR. from both the AR and EN versions"
![Tashafi-Healthcare 🔊 2021-07-20 09-20-03](https://user-images.githubusercontent.com/7084124/126307035-33dfad96-4dd2-4482-87a8-45c307df2806.png)

[2021-07-20 10:15] adhamgsalem opened #14 "When clicking on DR's photo, name then we should be redirected to his page (remove the view profile button)"
![Tashafi-Healthcare 🔊 2021-07-20 09-48-08](https://user-images.githubusercontent.com/7084124/126307265-3718c87d-accf-48cf-aebf-8fe97cc0cd4d.png)

[2021-07-20 10:19] adhamgsalem opened #15 "Translation needed for the days displayed in AR"
![Tashafi-Healthcare 2021-07-20 09-51-17](https://user-images.githubusercontent.com/7084124/126307876-24a701ab-9518-4bd3-a6d5-931dba8d3eca.png)

[2021-07-20 10:20] adhamgsalem opened #16 "Speciality names need to be translated to AR"
![Tashafi-Healthcare 2021-07-20 09-51-47](https://user-images.githubusercontent.com/7084124/126308003-99f5f982-d286-495e-81a2-3c0bd25f9cb9.png)

[2021-07-20 10:21] adhamgsalem opened #17 "Gender need to be translated to AR"
![Tashafi-Healthcare 2021-07-20 09-52-16](https://user-images.githubusercontent.com/7084124/126308226-a64a4239-fa24-4d0d-bed9-50dcef628d8c.png)

[2021-07-20 10:22] adhamgsalem opened #18 "Services page is blank?"
![Tashafi-Healthcare 2021-07-20 09-59-13](https://user-images.githubusercontent.com/7084124/126308300-271a66f1-0f08-461b-96fa-25ac795357c9.png)

[2021-07-20 10:25] adhamgsalem opened #19 "Change the currency keyword to be in AR (ر.س) and the amount (numbers) keyword to be in AR"
![Tashafi-Healthcare 2021-07-20 10-00-09](https://user-images.githubusercontent.com/7084124/126308440-d269f765-e816-4ce1-9eaf-a2f9e0516dda.png)

[2021-07-20 10:27] adhamgsalem opened #20 "Services page is redirecting to homepage"
![Tashafi-Healthcare 2021-07-20 10-03-03](https://user-images.githubusercontent.com/7084124/126308867-bc48910e-a7b6-4451-ae24-7106fbcd2e94.png)

[2021-07-20 10:38] adhamgsalem opened #21 "Contact us is redirecting to homepage"
![Tashafi-Healthcare 2021-07-20 10-03-34](https://user-images.githubusercontent.com/7084124/126310287-32046041-abf0-450f-934f-05cf17e996d4.png)

[2021-07-20 10:45] adhamgsalem opened #22 "Text need to be changed on homepage (make sure AR text is RTL and not messed-up)"
![Tashafi-Healthcare 2021-07-20 10-04-01](https://user-images.githubusercontent.com/7084124/126310688-753f4d6a-ece8-4582-9583-9a10bc21b7dc.png)

AR
وجد تشافي ليسهل لك الوصول الى خدمات علاج الإدمان و الاضطرابات النفسية: بجودة عالية بسرية وخصوصة تامة يرافق رحلتك العلاجية أطباء استشاريون و أخصائيون مرخصون و متخصصون

EN
Tashafi was found to facilitate access to addiction and mental disorders treatment

[2021-07-20 10:47] adhamgsalem opened #23 "Text needs to be changed in homepage 2 (make sure AR text is RTL and not messed up)"
![Tashafi-Healthcare 2021-07-20 10-04-33](https://user-images.githubusercontent.com/7084124/126311249-a0440add-779f-4d01-b208-a334800d0e1d.png)

AR
يمكنك مقابلة الطبيب بسهولة من خلال مكالمات لفيديو في الزمان و المكان مناسب لك
مكن لأطبئنامشاهدة لغة جسدك ويسمع صوتك من خلال مكالمة الفيديو
أويمكن أن يقدمون لك أستشارتك في المكانالمريح لك ,

فيديو تعريفي عن خدمات تشافي و كيفية الحصول عليها و يشمل الفديو

[2021-07-20 12:11] Aseem2345 commented on #21
For now there is no page for contact us once Hassan provide us details of contact us we will integrate with that pages with contact us information

[2021-07-20 12:15] Mahinder-Singh commented on #20
Hi I would like to update on this that service page is not finazlized yet once if we get data for service page we will redirect to service page and link the url.

[2021-07-20 12:38] Mahinder-Singh commented on #18
Hi I would like to update you on service data is coming once you select Speciality on the above left hand side. It fetch services from database against the specialities

[2021-07-20 12:41] Mahinder-Singh commented on #17
For this we need to add Arabic data in db because all the content in dropdownlist are coming from db and for in arabic version we have decided with hassan what we have inserted in the db will show on the dropdownlist, either it is inserted in Arabic or English

[2021-07-20 12:41] Mahinder-Singh commented on #16
For this we need to add Arabic data in db because all the content in dropdownlist are coming from db and for in arabic version we have decided with hassan what we have inserted in the db will show on the dropdownlist, either it is inserted in Arabic or English

[2021-07-20 12:45] Mahinder-Singh commented on #23
Done

[2021-07-20 12:46] Mahinder-Singh commented on #22
done

[2021-07-20 12:46] Mahinder-Singh commented on #15
Done

[2021-07-20 12:47] Aseem2345 commented on #14
done

[2021-07-20 12:48] Aseem2345 commented on #13
done

[2021-07-20 12:50] Aseem2345 commented on #12
Remove this button because our content is less so no need of this button

[2021-07-20 12:50] Aseem2345 commented on #10
done

[2021-07-20 12:53] Mahinder-Singh commented on #9
can you please provide more clarity on this actually we didn't understand the actuall scenario. So we can make changes according to you thank you

[2021-07-20 12:53] Mahinder-Singh commented on #8
Done

[2021-07-20 12:56] Mahinder-Singh commented on #4
This search is currently working on keyup it start after first word is enter in the textbox .Once you fill first word it start searching.If you required after 4 words changing start so we will make it change .

[2021-07-20 12:59] Mahinder-Singh commented on #5
This actually search is fetching data from google api if google has full address then we will get the full address otherwise what data in google database we get in the  result.

[2021-07-20 13:45] adhamgsalem opened #24 "When language = AR then display the text in browser tab in AR"
![Tashafi-Healthcare 2021-07-20 14-44-27](https://user-images.githubusercontent.com/7084124/126334799-77864da6-0e0f-4811-8487-b31a351e76cf.png)

AR
تشافي للرعاية الطبية

EN
Tashafi healthcare

[2021-07-20 13:50] adhamgsalem opened #25 "Keyword sort by in AR needs to come before the drop-down list"
![Tashafi-Healthcare 2021-07-20 14-47-27](https://user-images.githubusercontent.com/7084124/126335655-76e8e114-4618-4e51-9ea1-8c2dadc4d966.png)

:ترتيب حسب
then
drop-down

[2021-07-21 05:43] talhakpg opened #26 "Valid Saudi phone number is shown invalid."
Saudi phone numbers have 9 digits. I have used a valid Saudi phone number and it says invalid.

![image](https://user-images.githubusercontent.com/11936336/126436853-a7677b9b-8b92-42e2-a618-e31d835ae9a1.png)

[2021-07-21 05:48] talhakpg opened #27 "Mark 'Gender' and 'Role' fields as mandatory"
All the fields are marked as mandatory except these two while in function they too are mandatory.

![image](https://user-images.githubusercontent.com/11936336/126437566-79e79d66-4443-41eb-91d6-bb62be09da80.png)

[2021-07-21 06:15] talhakpg opened #28 "Invalid email is accepted on signup form"
![image](https://user-images.githubusercontent.com/11936336/126440224-c4456f20-9a4b-4213-9e43-19a9beb45d12.png)

[2021-07-21 06:28] talhakpg commented on #26
@hassanahak @Mahinder-Singh We decided that we go with the 10 digit phone number where we will have '05xx-xxx-xxx) in the placeholder.

[2021-07-21 06:50] talhakpg opened #29 "Links at the bottom of home page are inactive"
![image](https://user-images.githubusercontent.com/11936336/126443248-e07bed5d-cdd0-4c95-9e4e-d1119d387791.png)

[2021-07-21 06:53] talhakpg opened #30 "States should list Saudi states"
Currently shows US states.

![image](https://user-images.githubusercontent.com/11936336/126444609-0ae91c29-ac88-447a-97b4-9a867995c30b.png)

[2021-07-21 07:22] talhakpg opened #31 "Remove certain fields"
![image](https://user-images.githubusercontent.com/11936336/126448105-ca6514c8-3b2c-4203-ad87-5a8da655a4ed.png)

Remove these fields and add another field[to be provided by @hassanahak ]

[2021-07-21 08:00] talhakpg opened #32 "Please verify the list"
Please verify if this field is required. If it is required please verify the listed items.

![image](https://user-images.githubusercontent.com/11936336/126452187-09cb5495-c2b3-4989-8140-29dfe94a7793.png)

[2021-07-21 08:26] talhakpg opened #33 "Availability removal is not being saved."
https://www.screencast.com/t/31ioUKEMY2lF

[2021-07-21 09:24] hassanahak commented on #32
It is required,
The list:
Psychiatric medicine   طب نفسي
Addiction medicine طب ادمان
Child psychiatry طب نفسي اطفال
Geriatric psychiatry  طب نفسي كبار سن
Forensic psychiatry طب نفسي شرعي
Psychological services العلاج و الاستشارات النفسية
Addiction rehabilitation تأهيل و علاج الادمان
Social consultation services الاستشارات و الخدمات الاجتماعية

[2021-07-21 09:30] talhakpg commented on #31
Replace them with 'Scfhs Id'. Approved by @hassanahak

[2021-07-21 09:33] talhakpg opened #34 "Listing all the dropdowns[English]"

[2021-07-21 09:34] talhakpg opened #35 "List of all dropdowns[Arabic]"

[2021-07-21 10:27] hassanahak commented on #16
Psychiatric medicine طب نفسي
Addiction medicine طب ادمان
Child psychiatry طب نفسي اطفال
Geriatric psychiatry طب نفسي كبار سن
Forensic psychiatry طب نفسي شرعي
Psychological services العلاج و الاستشارات النفسية
Addiction rehabilitation تأهيل و علاج الادمان
Social consultation services الاستشارات و الخدمات الاجتماعية

[2021-07-21 10:30] hassanahak commented on #17
Sure please Adham provide them with English and Arabic, to add it in DB

[2021-07-21 10:45] hassanahak commented on #18
Need to discuss over Skype, next meeting.

[2021-07-21 10:47] hassanahak commented on #20
I am working on it , will coordinate with Adham

[2021-07-21 10:48] hassanahak commented on #21
Sure will be provided to you tonight.

[2021-07-21 10:50] hassanahak commented on #35
Please provide all drop dawn list with Arabic to Talha.

[2021-07-21 11:29] talhakpg commented on #32
@Mahinder-Singh, please update the 'Speciality' dropdown under 'SPECIALITY' using the above list.

[2021-07-21 12:56] Mahinder-Singh commented on #29
We need data for services,contactus ,these task will be completed with services and contactus page.

[2021-07-21 13:59] adhamgsalem commented on #9
@Mahinder-Singh
Let's say the website is displayed as ENGLISH then we need to see the language bar showing ARABIC.
IF the website is displayed in ARABIC then we need to see the language bar showing in ENGLISH.

[2021-07-21 14:01] adhamgsalem commented on #10
Fixed.

[2021-07-21 14:02] #10 closed, assigned to nobody

[2021-07-21 14:22] adhamgsalem commented on #12
Button is removed.

[2021-07-21 14:22] #12 closed, assigned to nobody

[2021-07-21 14:28] adhamgsalem commented on #13
Fixed

[2021-07-21 14:29] adhamgsalem commented on #14
Fixed.

[2021-07-21 14:29] #14 closed, assigned to nobody

[2021-07-21 14:37] adhamgsalem commented on #15
@Mahinder-Singh the days are not properly displayed in ARABIC - we need to display the full text, not initials as we do in EN.

[2021-07-21 14:41] adhamgsalem commented on #17
Male ذكر
Female أنثى

[2021-07-21 14:41] adhamgsalem commented on #22
Fixed.

[2021-07-21 14:42] adhamgsalem commented on #23
Fixed.

[2021-07-21 14:43] adhamgsalem commented on #24
Fixed.

[2021-07-21 14:43] #24 closed, assigned to nobody

[2021-07-21 14:43] adhamgsalem commented on #25
Fixed.

[2021-07-21 14:43] #25 closed, assigned to nobody

[2021-07-21 15:52] adhamgsalem opened #36 "Change the all font size in AR to be bigger and clear for the user"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-21 16-56-06](https://user-images.githubusercontent.com/7084124/126520462-e0c71306-63e0-495e-aa40-a16696b2e835.png)

The current font size is displayed as 12px, can you change that to be bigger? Also, can you make the header text for all the tables to be relatively bigger in font than the normal text?

NOTE: Please make this change across all the AR webpages withi

[2021-07-21 15:55] adhamgsalem opened #37 "Text needs to be translated to AR"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-21 16-56-57](https://user-images.githubusercontent.com/7084124/126520678-678cfb53-0666-4bdf-bf51-01694af517fc.png)

[2021-07-21 15:58] adhamgsalem opened #38 "User is blocked from booking? No data displayed?"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-21 16-57-18](https://user-images.githubusercontent.com/7084124/126520819-bf361f2a-0142-4eab-9e9f-de3db372b9c4.png)

[2021-07-21 18:30] adhamgsalem commented on #18
@Mahinder-Singh delete this section

[2021-07-21 18:38] adhamgsalem commented on #21
Need to create a new page - will provide details soon.

[2021-07-21 18:47] adhamgsalem commented on #20
@Mahinder-Singh
We will need to auto-scroll to the 'Meet a doctor Online.' section when clicking the services link at the header.

[2021-07-22 02:42] hassanahak commented on #29
instagram:
teletashafi

twitter
Teletashafi

youtube
Teletashafi

facebook
Teletashafi

snap

Teletashafi

ticktok
Teletashaf

[2021-07-22 02:46] hassanahak commented on #29
**about us**:  will provide it you in this weekend.
**categories**:  need to be hidden
**Hippa and privacy policy** : will provide it to you befor the end of next week.
**Terms and condition :** will provide it to you befor the end of next week.

[2021-07-22 02:47] hassanahak commented on #29
please let this ticket open untill I provide with needed details.

[2021-07-22 02:55] hassanahak commented on #29
![image](https://user-images.githubusercontent.com/87537898/126583926-c61df0ab-c7ed-4db3-abb3-adcd7cf0ff12.png)

contact us will be similar to this one

[2021-07-22 02:57] hassanahak commented on #21
![image](https://user-images.githubusercontent.com/87537898/126584092-7d36d858-f859-4491-854d-d9120ded044e.png)
 will be smiliar to this one

[2021-07-22 03:06] hassanahak commented on #21
location: 7578 نجران، ظهرة لبن، الرياض 13784 4708

location: 7578 Najran, Dhahrat Laban, Riyadh 13784 4708

[2021-07-22 03:09] hassanahak commented on #21
منصة آفاق التقنية للإتصالات وتنقية المعلومات
طريق أنس بن مالك
النرجس
الرياض، ١٣٣٢٧

ستكون كما يلي :

.تشافي للرعاية عن بعد و الطب الاتصالي
طريق نجران
ظهرة لبن
الرياض ، 13784

Technology horizons platform for communications and information purification
Anas Bin Malik Road
Narcissus
Riyadh, 13327

It will be as follows:

Tashafi for telecare and telemedicine .
Najran Road
Dhahrat Laban
Riyadh, 13784

[2021-07-22 03:13] hassanahak commented on #21
شبكات التواصل الإجتماعي
تجدنا على منصات التواصل الإجتماعي التالية:
انستا
teletashafi

فيس بوك

Teletashafi

----------
Find us on the following social media platforms:

Instagram
Teletashafi

facebook
Teletashafi

[2021-07-22 03:16] hassanahak commented on #21
خدمة العملاء - سيتم الرد في اقل من 24 ساعة :
050 437 5380 (علامة وتس اب)

Customer Service - We will respond in less than 24 hours:
050 437 5380 (WhatsApp tag)

[2021-07-22 03:18] hassanahak commented on #21
أوقات عمل المركز من الساعة 9 صباحا الى 11:30 مساء

The center’s working hours are from 9 am to 11:30 pm

[2021-07-22 03:44] hassanahak commented on #23
**need to remove**

AR
يمكنك مقابلة الطبيب بسهولة من خلال مكالمات لفيديو في الزمان و المكان مناسب لك
مكن لأطبئنامشاهدة لغة جسدك ويسمع صوتك من خلال مكالمة الفيديو
أويمكن أن يقدمون لك أستشارتك في المكانالمريح لك ,

EN
You can easily meet the doctor through video calls at the time and place that suits you
Our doctors can see your body language and hear your voice through a video call
Or they can prov

[2021-07-22 04:09] hassanahak commented on #22
please replace this:

Book Our Doctor
Tashafi was found to facilitate access to addiction and mental disorders treatment services: high quality, confidentiality and complete privacy accompanying your treatment journey by licensed and specialized consultants and specialists.

to this :
Tashafi is  found to facilitate access to addiction and mental disorders treatment services with :
 high quality,

[2021-07-22 04:13] hassanahak commented on #22
please replace this :
احجز طبيبنا
وجد تشافي ليسهل لك الوصول الى خدمات علاج الإدمان و الاضطرابات النفسية: بجودة عالية بسرية وخصوصة تامة يرافق رحلتك العلاجية أطباء استشاريون و أخصائيون مرخصون و متخصصون

with this :

وجد تشافي ليسهل لك الوصول الى خدمات علاج الإدمان و الاضطرابات النفسية :
بجودة عالية
بأمان سرية وخصوصة تامة
يرافق رحلتك العلاجية أطباء استشاريون و أخصائيون مرخصون و متخصصون

[2021-07-22 04:16] hassanahak commented on #22
in both we need to remove book our dr in engish , and احجز طبيبنا بالعربي .

[2021-07-22 04:20] hassanahak commented on #22
please improve the looking of the font size becuse this is the home page .

Also need to connect the care providers to their page if any one press on them or to add button with that will direct to care providers page .

[2021-07-22 04:24] hassanahak commented on #23
kindly Mahindra , include the Designers Gurpert ,  to improve the quality of home page looking . I need his help let us have a meeting with him.

[2021-07-22 04:26] hassanahak commented on #24
thanks so much 👍

[2021-07-22 04:33] hassanahak commented on #9
Need to discuss this in today meeting to provide clarity to you Mahinder.

[2021-07-22 04:37] hassanahak commented on #16
linked to #35

[2021-07-22 04:41] Mahinder-Singh commented on #36
Adham once all the task releated to text or translation is done then in the end we will do designing part because designer needs full fledge complete website then he will make changes.

[2021-07-22 04:42] hassanahak commented on #18
to become hidden

[2021-07-22 04:53] hassanahak commented on #31
Saudi Commission for Health Specialties  ID No.
رقم تسجيل الهيئة السعودية للتخصصات الصحية

[2021-07-22 05:01] hassanahak commented on #37
New : جديد
Free , change it to Follow up and link it to payment. NO free appointment
Follow up : متابعة
Online : عن بعد
Face to Face : في العيادة

[2021-07-22 05:44] talhakpg commented on #30
This is not yet fixed completely. We still have some US states being shown on the list. Please clear those.
[Note: Clear all the US states, not only the ones shown in the pic.]

![image](https://user-images.githubusercontent.com/11936336/126594531-670bae80-1112-4226-a269-614def464e2a.png)

[2021-07-22 05:49] talhakpg commented on #28
Verified the fix. Thanks

[2021-07-22 05:49] #28 closed, assigned to nobody

[2021-07-22 05:50] talhakpg commented on #27
Verified the fix. Thanks.

[2021-07-22 05:50] #27 closed, assigned to nobody

[2021-07-22 05:54] Mahinder-Singh commented on #38
Adham need to select date then you can select time slot then proceed further.

![image](https://user-images.githubusercontent.com/61724385/126595350-30a88719-473f-49a3-ba80-cb3578892d71.png)

[2021-07-22 05:54] talhakpg commented on #26
Here, in the placeholder show '05xx-xxx-xxx' rather than 'Phone Number' as mentioned above.

![image](https://user-images.githubusercontent.com/11936336/126595349-724827a0-6458-4eca-8dc4-194e8ce9d44a.png)

[2021-07-22 06:02] Mahinder-Singh commented on #21
Hassan and Adham please provide in english as well

[2021-07-22 06:07] hassanahak commented on #21
Sure Mahinder, Adham will take care of it.

[2021-07-22 06:10] talhakpg commented on #26
Place the same here too, this is 'Add user' under 'Manage Users'
![image](https://user-images.githubusercontent.com/11936336/126595879-c5f65206-166b-4670-84eb-ebc20a2b319a.png)

[2021-07-22 06:11] talhakpg commented on #8
Verified the fix. Thanks.

[2021-07-22 06:11] #8 closed, assigned to talhakpg

[2021-07-22 06:12] talhakpg commented on #6
Verified the fix. Thanks
![image](https://user-images.githubusercontent.com/11936336/126596647-bd5691d7-75ae-4b26-b77c-262529c7cfd1.png)

[2021-07-22 06:12] #6 closed, assigned to talhakpg, hassanahak

[2021-07-22 06:17] talhakpg commented on #5
We need a solution for this. Let's discuss this on call. @Mahinder-Singh @hassanahak

[2021-07-22 06:27] Aseem2345 commented on #30
Done check again

[2021-07-22 06:29] hassanahak commented on #5
Sure

[2021-07-22 06:29] talhakpg commented on #4
Let's discuss this over a call. @Mahinder-Singh @hassanahak

[2021-07-22 06:42] talhakpg opened #39 "Please set the requirements for documents upload for a provider."
This needs to be discussed by @Mahinder-Singh and @hassanahak .
Let me know when decided and implemented.

[2021-07-22 07:05] talhakpg opened #40 "Make DOB textbox better accessible"
User should be shown the calendar when they click on anywhere on the DOB textbox. Currently only on clicking the calendar icon within the field it shows calendar.

![image](https://user-images.githubusercontent.com/11936336/126601171-06047da9-4163-45ba-8142-6d05a519942c.png)

This needs to be implemented across the site.

[2021-07-22 07:13] talhakpg opened #41 "Add tooltip for MRN"
On Provider account under Add client. Please add a tooltip for MRN.
English: Medical Record Number
Arabic: رقم الملف

![image](https://user-images.githubusercontent.com/11936336/126602079-c7cc7bbf-29ca-4f14-962c-ab2f330a975f.png)

[2021-07-22 07:17] talhakpg opened #42 "No action on clicking some dropdowns under Demographic Info under Add client for provider."
![image](https://user-images.githubusercontent.com/11936336/126602358-7e4c5fbd-52cd-4329-8e7c-d6fc8143dd42.png)

[2021-07-22 07:36] talhakpg opened #43 "Hide rendering provider"
![image](https://user-images.githubusercontent.com/11936336/126604327-33a5cd01-9bf5-436b-a5e3-356ce79319d7.png)

Login as Provider -> Manage client -> Add client -> Demographic info.

[2021-07-22 08:03] adhamgsalem commented on #21
@Mahinder-Singh all good now.

[2021-07-22 08:05] adhamgsalem commented on #38
@Mahinder-Singh I think it's clear from the screenshot that there is no dates displayed at my end on the AR version?

[2021-07-22 08:11] talhakpg opened #44 "Not able to update the demographic info"
https://www.screencast.com/t/sFT2SOOBym

[2021-07-22 08:22] adhamgsalem opened #45 "Clicking 'book our doctor' should redirect us to the booking screen"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 09-21-23](https://user-images.githubusercontent.com/7084124/126609737-3a24c5aa-136a-402d-8eee-efe33d475679.png)

[2021-07-22 08:31] adhamgsalem opened #46 "Tabs freeze when clicking the 'Appointment'"
Click any other tab after clicking 'Appointment' > Freeze!
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 09-24-36](https://user-images.githubusercontent.com/7084124/126610749-56b6d658-9ba1-4960-9a58-e6badd72fc3f.png)

[2021-07-22 08:32] adhamgsalem opened #47 "Move the 'Book now' to the right in AR and to the left in EN"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 09-23-52](https://user-images.githubusercontent.com/7084124/126610894-ca77c588-caab-432d-aaf5-7400a8595100.png)

[2021-07-22 08:39] adhamgsalem opened #48 "Display website headers on all website pages!"
Display the home, doctor, contact us, language ..etc on the patient pages
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 09-38-11](https://user-images.githubusercontent.com/7084124/126611622-d7ad7c8f-0959-4306-a924-a48c47c591f8.png)

[2021-07-22 09:07] adhamgsalem opened #49 "Validation keyword for email address is duplicated"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 10-06-10](https://user-images.githubusercontent.com/7084124/126615108-1d031307-ceb4-4cdb-8fad-479fa4381381.png)

[2021-07-22 10:08] adhamgsalem opened #50 "All AR text need to be right aligned (this change should be across all the system)"
Attaching some screens but this change needs to be across all the system
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 11-06-51](https://user-images.githubusercontent.com/7084124/126623017-bb01c880-caaf-4f21-8bc2-08b088507396.png)
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 11-07-19](https://user-images.githubusercontent.com/7084124/126623026-14c00b31-bc18-4b93-b256-c48363f493c7.png)

[2021-07-22 10:24] Mahinder-Singh commented on #48
Home, Doctor ,Contactus header menu is  frontend website header and it is not feasible to show in inside the portal because internal portal has their own header. This is not feasible at this stage

[2021-07-22 10:30] Mahinder-Singh commented on #45
This is static page so there is no link button to go to booking screen

[2021-07-22 10:39] adhamgsalem commented on #48
At least we leave the language bar so that the user can change language?!

[2021-07-22 10:41] Mahinder-Singh commented on #48
This will come as change request we can do it in next phase not possible at this stage we do need lot of change in angular component

[2021-07-22 10:42] hassanahak commented on #30
Please lea

[2021-07-22 10:42] adhamgsalem commented on #45
@Mahinder-Singh can you link the word Book to be hyperlink redirecting the user to the doctor screen? This requirement is by @hassanahak. Please apply this change? I know that this is a static page and I know that there is no link button :) but you can link the keyword...

[2021-07-22 10:43] adhamgsalem commented on #48
@Mahinder-Singh ok you can discuss this with @hassanahak  not me.

[2021-07-22 10:44] hassanahak commented on #30
Hi Mahinder , I reopened it to be closed by the QA as we discuss before. Thanks so much for your understanding 🌹🌹. Please , need to Have every ticket closed by the one who created it.

[2021-07-22 10:46] Mahinder-Singh commented on #30
no problem hassan .

[2021-07-22 10:46] hassanahak commented on #27
Thanks so much 🌹.

[2021-07-22 10:47] Mahinder-Singh commented on #48
@hassanahak as we decided on skype call user can select his language before going to inside the portal so their is no need to change language after login once he or she decide in the starting .Please suggest on that .

[2021-07-22 10:56] hassanahak commented on #48
Will discuss it in tomorrow meeting.

[2021-07-22 11:06] hassanahak commented on #45
Actually I would like to have 2 things here:
First remove: book our doctor , ( احجز طبيبنا ) .
Second: link this to care provider (Doctor) page. Very essential. You can add word ( more) , المزيد and then link it to doctor page

[2021-07-22 11:26] adhamgsalem opened #51 "Duplicate elements?"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 11-09-53](https://user-images.githubusercontent.com/7084124/126632079-651b3e1f-dc54-466b-b1b4-fbb2dfc9fa09.png)

[2021-07-22 11:27] adhamgsalem opened #52 "Keyword is displayed in EN in the AR app - needs translation"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 10-40-48](https://user-images.githubusercontent.com/7084124/126632244-f95a34b1-1978-4d22-aad9-a377d30b0203.png)

[2021-07-22 11:28] adhamgsalem opened #53 "Context menu was displayed on the left side? while it should be on the right?"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 10-40-00](https://user-images.githubusercontent.com/7084124/126632366-07d0c0d1-a08f-450e-b314-4c614930bb09.png)

[2021-07-22 11:29] adhamgsalem opened #54 "Translate and show calendar dates, times, days in AR"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 10-38-04](https://user-images.githubusercontent.com/7084124/126632451-c9f35981-c5be-4054-a66c-1dd18ac0f241.png)

[2021-07-22 11:30] adhamgsalem opened #55 "Pagination - Page 1 out of 5 is displayed in EN? should be in AR!"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 10-37-32](https://user-images.githubusercontent.com/7084124/126632565-c435bf49-7a17-4fb1-81df-270899fb756b.png)

[2021-07-22 11:42] adhamgsalem opened #56 "All the contents of this page needs to be translated to AR"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 10-33-53](https://user-images.githubusercontent.com/7084124/126633786-6f498fde-a905-48bd-a0b4-389285d8cb0c.png)

[2021-07-22 12:37] Mahinder-Singh commented on #38
Please see at my end its working fine

![image](https://user-images.githubusercontent.com/61724385/126640138-7ca22631-1982-4ea5-b225-1a07bd940c36.png)

[2021-07-22 12:52] Mahinder-Singh commented on #7
It will come in next stage

[2021-07-22 12:54] Mahinder-Singh commented on #41
We have add Place holder which can easily define the MRN: Medical Record Number

[2021-07-22 13:18] Mahinder-Singh commented on #51
Please provide Text in Arabic for this screen
1.To Day
2. Day

[2021-07-22 13:36] adhamgsalem commented on #49
fixed.

[2021-07-22 13:36] #49 closed, assigned to nobody

[2021-07-22 14:00] adhamgsalem commented on #38
fixed

[2021-07-22 14:00] #38 closed, assigned to nobody

[2021-07-22 14:03] adhamgsalem commented on #37
@Mahinder-Singh need to translate these as per hassan comment
Online: عبر التواصل المرئي
Face to Face :حضوري

[2021-07-22 14:06] adhamgsalem commented on #17
Fixed

[2021-07-22 14:07] #17 closed, assigned to nobody

[2021-07-22 14:07] adhamgsalem commented on #16
Fixed.

[2021-07-22 14:07] adhamgsalem commented on #15
Fixed.

[2021-07-22 14:07] #15 closed, assigned to nobody

[2021-07-22 14:11] adhamgsalem opened #57 "Service list needs to be translated"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-09-42](https://user-images.githubusercontent.com/7084124/126653576-44c8fa88-3bca-4119-b613-80e472e2b1d8.png)

@hassanahak please provide translations for this section

[2021-07-22 14:15] adhamgsalem opened #58 "The keyword in AR needs to come after the amount as the first example in screen"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-14-14](https://user-images.githubusercontent.com/7084124/126654223-544f2270-3173-4835-a284-361ad80be1ab.png)

[2021-07-22 14:48] adhamgsalem opened #59 "Context menu is sometimes null?"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-35-51](https://user-images.githubusercontent.com/7084124/126658346-969ccbfe-d9f4-4188-8a02-e6fa4b9c7dfd.png)

[2021-07-22 14:49] adhamgsalem commented on #51
@Mahinder-Singh they are duplicate so please remove the first one from the right

[2021-07-22 15:49] adhamgsalem opened #60 "Clicking 'Save and Continue' then all the contents gone after that?"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-37-03](https://user-images.githubusercontent.com/7084124/126669001-3e09e993-ac41-4b85-87d6-314560a4aaaa.png)

[2021-07-22 15:51] adhamgsalem opened #61 "Warning message is displayed in EN instead of AR?"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-37-36](https://user-images.githubusercontent.com/7084124/126669344-78eddf65-22df-4351-b753-fb6ae9c4fbef.png)

[2021-07-22 15:52] adhamgsalem opened #62 "List is displayed in EN, needs to be translated to AR!"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-39-02](https://user-images.githubusercontent.com/7084124/126669465-0886cdbc-adef-4959-9eb3-4de0ae5479b8.png)

[2021-07-22 15:53] adhamgsalem opened #63 "All the highlighted items should be displayed in AR as this is the AR version"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-39-28](https://user-images.githubusercontent.com/7084124/126669587-dad9da06-7632-472d-a591-7c8673efa2e5.png)

[2021-07-22 17:40] talhakpg commented on #1
Verified the fix. Thanks

[2021-07-22 17:40] #1 closed, assigned to hassanahak

[2021-07-22 17:47] talhakpg commented on #2
This section has been removed. Can't verify.

[2021-07-22 17:47] #2 closed, assigned to hassanahak

[2021-07-22 18:06] talhakpg opened #64 "Getting internal server error on trying to assign question"
![image](https://user-images.githubusercontent.com/11936336/126687517-96380400-0570-4324-9899-6de01265f311.png)

[2021-07-22 18:54] talhakpg opened #65 "Add guide for Blood Pressure reading format"
Add a placeholder or tooltip which guides the user with the Blood Pressure reading format

![image](https://user-images.githubusercontent.com/11936336/126693561-7c1cb80a-0082-4484-82f6-d070f3689eaa.png)

[2021-07-22 20:38] talhakpg commented on #4
This is under observation by @Mahinder-Singh

[2021-07-22 20:47] hassanahak commented on #65
Change temperature to Celsius instead of F,  to become:
Temperature C : درجة حرارة الجسم

[2021-07-22 21:05] talhakpg opened #66 "Infinite loading of page on using consultation fee filter."
https://www.screencast.com/t/DdaeEwAn8WeF

[2021-07-22 21:07] talhakpg opened #67 "First option in consultation fee filter should be in English."
![image](https://user-images.githubusercontent.com/11936336/126709625-b19c3623-eeb5-4ff5-ace0-dad86becb85e.png)

[2021-07-22 21:53] talhakpg commented on #26
![image](https://user-images.githubusercontent.com/11936336/126714260-8a2bc9b1-92c0-4e47-8f71-054d95bd864f.png)

[2021-07-22 22:05] talhakpg commented on #30
@hassanahak can we have a complete list of states properly. The list has a mix of states and cities. Unayza and Buraidah are listed as states.
@Mahinder-Singh Plea make sure after the list provided by @hassanahak that only the listed states appear.

[2021-07-22 23:41] talhakpg opened #68 "Resend function not working for User Invitation."
Steps:
1. Navigate to https://www.stagingwin.com:6108/
2. Login using super admin credential
3. Go to User Invitation.
4. Make a new Invitation.
5. Click on 'Resend' button under 'ACTIONS'

Expected :

The user should get the invitation twice

Actual:

The user does receive the invitation only once.

![image](https://user-images.githubusercontent.com/11936336/126721695-a4e44fc2-e216-481f-9898-f8a1

[2021-07-23 00:00] talhakpg opened #69 "Gender dropdown does not appear on user sign up using accept invitation link"
Steps:

1. Navigate to https://www.stagingwin.com:6108/
2. Login using super admin credential
3. Go to User Invitation.
4. Make a new Invitation.
5. Click on 'Accept Invitation' button on the mail of the invited user.
6. Click on 'Gender' dropdown.

Expected:
No action on clicking.

Actual:
The dropdown should be shown.

![image](https://user-images.githubusercontent.com/11936336/126722808-e71ac1f

[2021-07-23 00:30] talhakpg opened #70 "Update 'Social History' items"
@hassanahak please confirm which are the items that are to be removed.

Also, the items listed on travel dropdown, needs more clarification on it.

![image](https://user-images.githubusercontent.com/11936336/126724978-a5a1cd3a-04cd-4cb1-b33e-c1fdcfe02c24.png)

[2021-07-23 00:31] talhakpg commented on #70
@Mahinder-Singh once the list is updated and confirmed please make the required changes.

[2021-07-23 02:05] hassanahak commented on #5
Need discussion with Talha. please raise it in the next contact with me.

[2021-07-23 02:07] hassanahak commented on #7
Talha , please update me about this one in our next contact.

[2021-07-23 02:09] hassanahak commented on #30
Need discussion with Talha. please raise it in the next contact with me.

[2021-07-23 02:10] hassanahak commented on #48
Need discussion with Mahinder . please raise it in the next contact with me.

[2021-07-23 02:27] hassanahak commented on #70
will change it to the following:
change Alchol to Marital status الحالة الاجتماعية : to be filled manually without drop list
change tobaccos  to Level of education مستوى التعليم : to be filled manually without drop list
regarding  Occupation المهنة : to be filled manually without drop list
Delete drug and travel state

[2021-07-23 02:30] hassanahak commented on #63
this is general note . please take care of it Mahinder.

[2021-07-23 02:32] hassanahak commented on #61
we need to think that may be all warning massages need to make sure that they are in Arabic.

[2021-07-23 02:34] hassanahak commented on #3
please update us regarding this one @talhakpg

[2021-07-23 02:42] hassanahak commented on #1
to be discussed with @talhakpg

[2021-07-23 02:47] hassanahak commented on #2
to make finalize it with Talha.

[2021-07-23 02:48] hassanahak commented on #6
to finalize it with @talhakpg

[2021-07-23 03:09] hassanahak commented on #16
I really would like to appreciate your response and care . it is really fixed but there is 2 issue . No:
General medicine طب باطنة
Dermatology طب جلدية
Pediatric medicine طب أطفال
Psychiatric medicine طب نفسي

this change based on the need for licensing from MOH , we need your help to adjust it later.

[2021-07-23 03:12] hassanahak commented on #16
regarding select services اختيار الخدمة , please make it hidden.

Thanks

[2021-07-23 03:16] hassanahak commented on #22
please contact me @Mahinder-Singh to explain more for you

وجد تشافي ليسهل لك الوصول الى الخدمات الطبية و العلاجية :
بجودة عالية
بأمان و سرية وخصوصية تامة
يرافق رحلتك العلاجية أطباء استشاريون و أخصائيون مرخصون و متخصصون

Tashafi is found to facilitate your access to medical and therapeutic services with :
high quality,
confidentiality and
complete security and privacy
accompanying your treatment j

[2021-07-23 03:32] hassanahak commented on #23
فيديو تعريفي عن خدمات تشافي للرعاية الطبية و كيفية الحصول عليها و يشمل الفديو التعريفي:
• كيفية التسجيل و الدخول مع الحفاظ على سريتك و خصوصيتك التامة
• كيفية حجز الموعد مع مستشارك العلاجي للحصول على الخدمة الأنسب لك
•	كيفية الدفع بكل سهولة من خلال طرق الدفع المتنوعة

[2021-07-23 03:34] hassanahak commented on #23
فيديو تعريفي عن خدمات تشافي للرعاية الطبية و كيفية الحصول عليها و يشمل الفديو التعريفي:
• كيفية التسجيل و الدخول مع الحفاظ على سريتك و خصوصيتك التامة
• كيفية حجز الموعد مع مستشارك العلاجي للحصول على الخدمة الأنسب لك
• كيفية الدفع بكل سهولة من خلال طرق الدفع المتنوعة

please contact me Mahinder to discuss it with you .

[2021-07-23 04:25] hassanahak commented on #30
Abhā  أبها
Abqaiq بقيق
Abū 'Arīsh  أبو عريش
Dammam الدمام
Dawādmī  الدوادمي
Ad-Dilam  الدلم
Ad-Dir'iyah الدرعية
'Afïf عفيف RYD
Aḥad al-Masāriḥah  أحد المسارحة
Aḥad Rāfidah  أحد رفيدة
Al-'Awāmiyah  العوامية
Al-Badā'i'a  البدائع
Al-Bāḥah الباحة  BAH
Al-Bukayriyah  البكيرية
Al-Ḥawiyah  الحويه
Al-Hufūf  الهفوف
Al-Jubail  الجبيل
Al-Jumūm الجموم
Al-Khafjī الخفجي
Al-Kharj  الخرج
Al-Khubar  الخبر
Al-Khurm

[2021-07-23 04:34] Mahinder-Singh commented on #57
Please provide Translation for services @hassanahak

[2021-07-23 04:37] Mahinder-Singh commented on #68
Actually we programtically  check on db if once invitation has been sent it will not send again.

[2021-07-23 04:42] hassanahak commented on #57
Please delete the this section in Arabic and English

[2021-07-23 04:44] Mahinder-Singh commented on #62
Please provide all list data in Arabic as well

[2021-07-23 05:00] Mahinder-Singh commented on #62
Dropdown List related point will be covered and linked in Issue #35 for Arabic  #34 for English please provide data on this

[2021-07-23 05:09] hassanahak commented on #35
Yes Mahinder, the QA tester are testing systematically. Most likely will not be able to collect all the drop down list . If you kindly provide me with all drop down list, I will translate them.

[2021-07-23 05:10] hassanahak commented on #62
Yes Mahinder, the QA tester are testing systematically. Most likely will not be able to collect all the drop down list . If you kindly provide me with all drop down list, I will translate them.

Please include drop drwn list in registration as well.

[2021-07-23 05:13] Mahinder-Singh commented on #58
@adhamgsalem we got this text in Arabic so we just replace  it nothing else you please provide the exact text so it looks fine

![image](https://user-images.githubusercontent.com/61724385/126739851-e4040631-7d23-4c69-9677-70d2aa638003.png)

[2021-07-23 06:03] Mahinder-Singh commented on #5
1. Country Essential, Remove State from User
2. City should be manual not essential
3.  Street Address not essential or manual
4. Zip Code manual not essential
5. Remove NPI #
6. Tax ID remove it
7. Provide all the dropdown List on Website
8. Degree need to be manual no dropdownlist
9. Rendering Provider Remove it
10. Online Pay rate not essential
11. Face to Face Pay rate not essential
12. Remove

[2021-07-23 07:36] talhakpg commented on #3
@hassanahak the issue still exists. Needs to be fixed.

[2021-07-23 07:39] talhakpg commented on #30
@hassanahak The list you have put above is for cities. This issue is about states.

[2021-07-23 07:43] talhakpg commented on #31
@hassanahak This field is not marked as mandatory. Should it remain so or do we make it mandatory.

[2021-07-23 07:47] talhakpg commented on #32
Not yet fixed.

![image](https://user-images.githubusercontent.com/11936336/126752158-a3e671c5-b6e6-484c-9dc6-dc9f204da28c.png)

[2021-07-23 07:51] hassanahak commented on #3
Thanks so much

[2021-07-23 07:52] hassanahak commented on #30
Is asked him to delete it

[2021-07-23 07:53] hassanahak commented on #30
And to make cities manual

[2021-07-23 07:54] talhakpg opened #71 "Dropdowns on User Info form not functional."
Other issues are linked to this

![image](https://user-images.githubusercontent.com/11936336/126752732-ada760f4-306f-400e-aeff-71db047e839d.png)

[2021-07-23 07:54] hassanahak commented on #32
I asked him to remove health category

[2021-07-23 07:55] hassanahak commented on #31
Saudi health ID need to be mandotory for care provider.

[2021-07-23 07:56] talhakpg commented on #71
[https://github.com/talhakpg/TeleTashafi/issues/33](url) is blocked by this.

[2021-07-23 07:58] talhakpg commented on #33
Can be tested when #71 is fixed.

[2021-07-23 08:08] talhakpg commented on #71
This is not an issue. It was due to cache.

[2021-07-23 08:08] #71 closed, assigned to Mahinder-Singh

[2021-07-23 08:22] talhakpg commented on #5
@Mahinder-Singh Please make the address manual (non google api based) and make it non mandatory.

[2021-07-23 08:25] talhakpg commented on #7
@hassanahak Approved this. @Mahinder-Singh says this will come in next stage. Letting this ticket stay open. When this gets implemented please update this.

[2021-07-23 08:27] talhakpg opened #72 "Remove custom field section"
This is approved by @hassanahak
Please remove the section custom field.

![image](https://user-images.githubusercontent.com/11936336/126756243-799fba20-6d8f-4106-915e-3921aceb9111.png)

[2021-07-23 08:32] talhakpg commented on #33
Verified the fix. Thanks

[2021-07-23 08:32] #33 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-23 08:42] talhakpg opened #73 "Update 'Add User' form"
1. Address - Make it manual(non-google api based); non-mandatory.
2. Country - Remains mandatory.
3. City - Remains a textbox; non-mandatory.
4. Zip Code - Remains a textbox; non-mandatory.
5. NPI # -  Remove it.
6. Tax ID -  Remove it.
7. Degree - Make it a textbox; non-mandatory.
8. Rendering Provider - Remove it.
9. Online Pay rate - non-mandatory.
10. Face to Face Pay - non-mandatory.
11. Heal

[2021-07-23 08:43] talhakpg commented on #73
approved list by @hassanahak

[2021-07-23 08:46] talhakpg opened #74 "Role selection effect SCHSI field"
Role should be made mandatory.
If a user selects Provider fo Role, the SCHSI field should be shown and mandatory.
If a user selects Staff for Role, the SCHSI field should be removed.

![image](https://user-images.githubusercontent.com/11936336/126758398-c69e2a7c-1f54-4b72-a667-0dcbe84a566f.png)

[2021-07-23 08:59] adhamgsalem opened #75 "Drop-down(s) needs translation"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-39-53](https://user-images.githubusercontent.com/7084124/126759888-ecbca260-db36-4663-845e-0094e3edb06c.png)

[2021-07-23 09:00] adhamgsalem opened #76 "Dropdown(s) needs translation 2"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-40-30](https://user-images.githubusercontent.com/7084124/126759974-e0cde7b9-2ee0-4acd-8135-f7fd32b2b262.png)

[2021-07-23 09:01] adhamgsalem opened #77 "User is not able to delete a message (patient user - davidc)"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-55-26](https://user-images.githubusercontent.com/7084124/126760064-2f2bdd61-53c0-4dc2-9f1a-23376119fc95.png)

[2021-07-23 09:02] adhamgsalem opened #78 "Spacing issue with the AR text (I fixed all similar ones in JSON file?)"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 15-57-04](https://user-images.githubusercontent.com/7084124/126760148-36e24321-c6de-4bc4-92e2-e313e717a1b7.png)

[2021-07-23 12:19] Mahinder-Singh commented on #5
Speciality and Services are not essential is not done because if it make it non essential so in future after adding the doctor that doctor will not see in doctor list or patient side while consulations so it is mandatory

[2021-07-23 12:22] Mahinder-Singh commented on #4
This is working fine
1. In first time load latest five record has been shown.
2. After search on key up it start showing result with 5 records.
3. If you are at page 3 in searching once your delete the text it will return on first page with their latest five records

[2021-07-23 12:39] Mahinder-Singh commented on #70
This is the functionality change

[2021-07-23 12:42] Mahinder-Singh commented on #69
![image](https://user-images.githubusercontent.com/61724385/126783095-dde07dc7-34e6-4785-b5b4-d8022a42f3d7.png)

[2021-07-23 12:43] Mahinder-Singh commented on #69
please clear cache

[2021-07-23 12:44] Mahinder-Singh commented on #68
Its working fine at our end please clear cache it will work fine for you as well.

![image](https://user-images.githubusercontent.com/61724385/126783267-3421888f-044d-408a-b16b-44cb7729cbdf.png)

[2021-07-23 12:46] Mahinder-Singh commented on #72
This is Functionality Change

[2021-07-23 13:03] Mahinder-Singh commented on #61
Could you please provide this in Arabic translation actually we don't have this warning message transation in json file.

[2021-07-23 13:05] Mahinder-Singh commented on #59
Please clear cache or sometime internet slow issue showing this kind of stuff so please try one more time and let us know

[2021-07-23 13:08] Mahinder-Singh commented on #56
Most of the data which is possible we have completed but those pending are coming from third party tool so cann't  make it change in small time. Need R&D to make third party tool biliungal

[2021-07-23 13:10] Mahinder-Singh commented on #53
Please clear cache it is cache issue as well @adhamgsalem

[2021-07-23 13:19] adhamgsalem opened #79 "The 'Delete all' functionality is not working on most of the pages"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 16-14-13](https://user-images.githubusercontent.com/7084124/126787492-86581c8d-95af-48af-953c-8f09959dbdeb.png)

[2021-07-23 13:20] adhamgsalem opened #80 "All numbers, text, days, time needs to be translated to AR"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-22 17-02-01](https://user-images.githubusercontent.com/7084124/126787609-db12a57c-a609-4675-993c-1bbacf555964.png)

[2021-07-23 13:22] Mahinder-Singh commented on #51
![image](https://user-images.githubusercontent.com/61724385/126787887-43e24b01-8c4b-4043-8a7e-2a472b519e33.png)

[2021-07-23 13:23] Mahinder-Singh commented on #51
Please provide Arabic text for both of them Today and Day

[2021-07-23 13:24] adhamgsalem opened #81 "No spacing between AR text 'Change password'"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-23 14-22-33](https://user-images.githubusercontent.com/7084124/126788019-aa78fbf8-49b7-4a04-a680-65bf1ff9d42b.png)

[2021-07-23 13:27] Mahinder-Singh commented on #81
Please match one more time json file we are going to attach json file again here space problem you please check and revert those task which has space issue in Arabic , we cant handle space problem in our end.

[2021-07-23 13:28] adhamgsalem opened #82 "Error message 'Add a file' needs to be translated and displayed in AR"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-23 14-27-33](https://user-images.githubusercontent.com/7084124/126788563-a902dfcf-c8ed-4f5e-bf69-556c30140305.png)

[2021-07-23 13:33] adhamgsalem commented on #81
@Mahinder-Singh Please send on Skype

[2021-07-23 13:35] adhamgsalem opened #83 "Warning message does not match the item being saved."
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-23 14-33-00](https://user-images.githubusercontent.com/7084124/126789585-69e2c96c-ce67-452f-a08e-fa9e4248ec9f.png)

It's like we saved the item but the message saying item edited.

[2021-07-23 13:44] adhamgsalem commented on #22
وجد تشافي ليسهل لك الوصول الى الخدمات الطبية و العلاجية
بجودة عالية -
بأمان و سرية وخصوصية تامة -

يرافق رحلتك العلاجية أطباء استشاريون و أخصائيون مرخصون و متخصصون

--------------

Tashafi is found to facilitate your access to medical and therapeutic services with :
- High quality,
- Confidentiality
- Complete security and privacy

**( VERY IMPORTANT)**
please , remove the following in Arabic and

[2021-07-23 14:03] talhakpg commented on #4
Other issues appears fixed. But as discussed on call when user types their desired search and press enter it should keep showing the search result. That is not happening now. just typing shows the result but pressing enters clears the search result.

[2021-07-23 14:07] adhamgsalem commented on #63
@Mahinder-Singh not fixed. please review.

[2021-07-23 14:08] adhamgsalem commented on #61
@hassanahak can you please provide the above and assign to developer!

[2021-07-23 14:10] adhamgsalem commented on #60
Fixed

[2021-07-23 14:10] #60 closed, assigned to nobody

[2021-07-23 14:12] adhamgsalem commented on #59
@Mahinder-Singh not fixed and it's not an internet-related issue. Internet is too fast in Ireland :)

[2021-07-23 14:14] adhamgsalem commented on #57
Removed. Fixed.

[2021-07-23 14:14] #57 closed, assigned to nobody

[2021-07-23 14:15] adhamgsalem commented on #56
@hassanahak please handle.

[2021-07-23 14:16] adhamgsalem commented on #53
@Mahinder-Singh why do we have a lot of caching issues? we can't tell the customer to clear his cache every time?

[2021-07-23 14:17] adhamgsalem commented on #51
@hassanahak please advise

[2021-07-23 14:18] adhamgsalem opened #84 "Error message when creating a family history"
![‎‫تشافي للرعاية الطبية‬‎ 2021-07-23 14-50-49](https://user-images.githubusercontent.com/7084124/126795423-9cc2e86c-93ae-4223-859b-f19a5d8c2185.png)

[2021-07-23 14:42] hassanahak commented on #61
عنوان المريض و رقم الجوال قد تمت إضافته و تحديثه بنجاح.

[2021-07-23 14:47] hassanahak commented on #56
To be discussed next meeting

[2021-07-23 14:50] hassanahak commented on #51
To discussed with @Mahinder-Singh

[2021-07-23 15:28] hassanahak commented on #5
So I will provide you here about specialty and services here.

[2021-07-23 16:44] talhakpg commented on #7
![image](https://user-images.githubusercontent.com/11936336/126814580-a8a27eed-ae4a-4cbf-bfdd-59c4c9cad5dd.png)

Getting this error message on clicking the first Save & continue button now.

[2021-07-23 16:46] talhakpg commented on #30
Closing this ticket as it is no longer required.

[2021-07-23 16:46] #30 closed, assigned to talhakpg, hassanahak

[2021-07-23 16:47] talhakpg commented on #31
@Mahinder-Singh this is to be made mandatory.

[2021-07-23 16:50] talhakpg commented on #40
Verified the fix. Thanks

[2021-07-23 16:50] #40 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-23 16:56] talhakpg commented on #41
Verified the fix. Thanks.

[2021-07-23 16:56] #41 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-23 17:01] talhakpg commented on #65
Verified the fix. Thanks

[2021-07-23 17:05] talhakpg opened #85 "Arabic placeholders are truncated."
![image](https://user-images.githubusercontent.com/11936336/126816925-c3e723bd-38d6-4077-8971-3849fa5bb2c6.png)

[2021-07-23 17:08] talhakpg commented on #65
@hassanahak should we not add 'C' at the end of Arabic field 'درجة حرارة الجسم' also?

[2021-07-23 17:24] hassanahak commented on #65
No need

[2021-07-23 17:26] talhakpg commented on #66
Verified the fix. Thanks.

[2021-07-23 17:26] #66 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-23 19:20] talhakpg commented on #65
Well in that case this is fixed. Closing the ticket.

[2021-07-23 19:20] #65 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-23 19:23] talhakpg commented on #67
Verified the fix. Thanks!

[2021-07-23 19:23] #67 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-23 19:56] talhakpg commented on #68
Verified the fix. Thanks!

[2021-07-23 19:56] #68 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-23 20:07] talhakpg commented on #69
The form seems to be more broken.

![image](https://user-images.githubusercontent.com/11936336/126835716-0c2bc62b-e66f-47ab-9b71-d7ef4928a10f.png)

The names of the field does not appear.
[Not: tried on a new browser]

[2021-07-23 21:49] talhakpg opened #86 "When user click on book now button after session is timed out it should lead to default sign for patient."
https://www.screencast.com/t/mo7KAGTA3

[2021-07-23 22:26] talhakpg opened #87 "Getting internal server error on trying to book appointment"
![image](https://user-images.githubusercontent.com/11936336/126846417-e590363a-1499-4230-97d2-50bbf5a9bfb7.png)

[2021-07-24 00:36] talhakpg opened #88 "Limit the number of characters in these fields"
![image](https://user-images.githubusercontent.com/11936336/126852396-06784140-d207-416f-a003-13b25919f069.png)

[2021-07-24 03:08] hassanahak commented on #72
I think to make it non mandotory . and hide it if possible . we can add skip button. but really perfer to get red of it.

[2021-07-24 03:12] hassanahak commented on #56
we can accept it in this version

[2021-07-24 03:13] hassanahak commented on #56
we need to adjust the design

[2021-07-24 03:20] hassanahak commented on #51
Today : هذا اليوم
Day : اختر اليوم
week : اختر الأسبوع
Month: اختر الشهر

[2021-07-24 03:24] hassanahak commented on #48
want to discuss it with you Adham.

[2021-07-24 03:46] hassanahak commented on #5
please close this one @Mahinder-Singh @talhakpg

What do you think Talha

[2021-07-24 04:24] hassanahak commented on #73
**Very Important**

Regarding Add use form let us work on this one @Mahinder-Singh

@Mahinder-Singh  you raise this concern :
Speciality and Services are not essential is not done because if it make it non essential so in future after adding the doctor that doctor will not see in doctor list or patient side while consulations so it is mandatory.

**Specialty will be like this:**
Internal medicine

[2021-07-24 04:50] hassanahak commented on #32
AS we Agree to remove health category.

[2021-07-24 04:53] hassanahak commented on #31
This is linked to #73

[2021-07-24 04:54] hassanahak commented on #32
Linked to #73

[2021-07-24 05:01] hassanahak commented on #42
Here the plan as following :
please remove race , secondary race and ethnicity.
remove rendering provider
change primary diagnosis to manual and make non mandatory
make email non mandatory
Add mobile no , non madotory

Make all the rest of : Guardian , Address , insurance and custom fields as non mandatory at this stage.

Need to discuss regarding MRN#

[2021-07-24 05:23] hassanahak commented on #69
let us have Demo in this @talhakpg @Mahinder-Singh

[2021-07-24 05:27] hassanahak commented on #85
please make them all as non mandotory as well

[2021-07-24 06:20] hassanahak commented on #84
I suggest to remove family history and social history at this stage

[2021-07-24 15:00] talhakpg opened #89 "Demo for smarthealthadmin"
Call on Monday 7:30 AM Saudi Time. Please give a demo on SmartHealthAdmin system.

[2021-07-24 15:04] talhakpg opened #90 "Sign Up not functional."
I tried signing up and got signup success screen but not able to login using the same credentials. Also received no email of the registered email id.

[2021-07-24 15:22] talhakpg opened #91 "Super admin appears not to be implemented."
Please look into it and update us on it.

[2021-07-25 04:30] hassanahak commented on #90
please @Mahinder-Singh please consider this with urgency.

[2021-07-25 04:31] hassanahak commented on #91
This also urgent

[2021-07-25 11:10] talhakpg opened #92 "Sign up email has sign in link which leads to a page which does not load."
When a user signs up they receive a mail that has a 'Sign In' button.

![image](https://user-images.githubusercontent.com/11936336/126896697-35d68dc5-3161-4b20-a109-150aa542cbe9.png)

On clicking the button it leads to a page that does not load.

![image](https://user-images.githubusercontent.com/11936336/126896748-455bf220-e1c4-45d5-a60f-1527f34583ee.png)

[2021-07-25 11:51] talhakpg opened #93 "Typo on email"
![image](https://user-images.githubusercontent.com/11936336/126897797-316a6828-5680-4e8e-b673-8b76e914b177.png)

[2021-07-26 05:10] talhakpg opened #94 "Home Page revamp"

[2021-07-26 05:11] talhakpg commented on #94
Change no. 1:
Increase in size and cover most of the whitespace.
Add a book now button. " لحجز موعد"

in English make the Button “Book Now” .

Let the Button linked to Care provider page.

![image](https://user-images.githubusercontent.com/11936336/126936299-99a10bf2-7cf3-4afa-90ee-2e837adedf16.png)

![image](https://user-images.githubusercontent.com/11936336/126947351-d2139a26-238f-4c5d-a106-bc4e

[2021-07-26 05:14] talhakpg commented on #94
https://www.afaq.io/ - to be referred  for contact us design.

[2021-07-26 07:03] talhakpg commented on #94
Change No. 2 - Change the font type and size. This @Mahinder-Singh will confirm if it a big task or a small one and accordingly we will decide when it needs to be done.
@hassanahak to provide the font style and size to be used.

[2021-07-26 07:13] talhakpg commented on #94
Change No. 3 - Change 'Doctor' to ' Care providers' and for Arabic "مقدمي الخدمة"

![image](https://user-images.githubusercontent.com/11936336/126947473-c7801def-5c8b-4f81-a788-10ce47ded749.png)

[2021-07-26 07:15] hassanahak commented on #94
- change Doctor up to Care providers.
- Care provider مقدمي الخدمة

[2021-07-26 07:16] hassanahak commented on #94
Remove (( Book our Doctor ))

[2021-07-26 07:16] talhakpg commented on #94
Change No. 4 -

![image](https://user-images.githubusercontent.com/11936336/126948295-d619a541-ef93-489c-97d6-0ac18e9dbfee.png)

[2021-07-26 07:19] talhakpg commented on #94
Change No. 5 -
![image](https://user-images.githubusercontent.com/11936336/126948617-07ac1081-8dc1-413d-b098-e95039855b52.png)

[2021-07-26 07:24] talhakpg commented on #94
Change no. 6 -
![image](https://user-images.githubusercontent.com/11936336/126949233-86a33037-2927-4685-ba71-6bbf4093e6a3.png)

[2021-07-26 07:28] talhakpg commented on #94
Change no. 7 - Change the video to TeleTashafi video. @hassanahak to provide links.

![image](https://user-images.githubusercontent.com/11936336/126949676-b990be58-ece6-4dbc-8f72-f05fb4fd61d3.png)

This video is yet to be provided. For now, we can put https://youtu.be/okmynLqKhHw

This section will have a fixed video talking about TeleTashafi.
The one below will have latest video on TeleTashafi yo

[2021-07-26 08:51] Aseem2345 commented on #83
@hassanahak  provide Arabic and English text of correct message that you want to show here.

[2021-07-26 08:58] hassanahak commented on #83
Vital signs was saved successfully
تم حفظ العلامات الحيوية بنجاح

[2021-07-26 09:00] Aseem2345 commented on #82
Please add atleast one file?

@hassanahak  also provide this one

[2021-07-26 09:07] hassanahak commented on #82
الرجاء تحميل مستند واحد على الأقل

[2021-07-26 10:42] Aseem2345 commented on #42
Its is not possible to create email or mobile no non mandatory because for OTP needed these 2 fields.
regarding  mobile no field it is in address section .
primary diagnosis to manual it is major change.so its coming to next phase

[2021-07-26 10:48] hassanahak commented on #42
No problem, just trying to simplify as much as we can.

[2021-07-26 11:12] Aseem2345 commented on #31
@hassanahak  kindly provide Arabic Translation this.

Please enter Saudi commission for health specialties id no

[2021-07-26 11:17] hassanahak commented on #31
رقم تسجيل الهيئة السعودية للتخصصات الصحية

[2021-07-26 12:10] Aseem2345 commented on #79
@hassanahak  what is the meaning of this word in English

امسح الكل

Here we need  (Clear All ) translation if both meaning same the its fine if its meaning not same then provide translation of (clear all)

[2021-07-26 12:27] Aseem2345 commented on #78
@hassanahak kindly check this if any spacing issue then fix it and send it back. so I will Update its  change only Arabic part.

      this.SettingsText = "الإعدادات"
      this.MyProfileText = "ملفي ";
      this.SignOutText = "تسجيل الخروج";
      this.ChangePasswordText = "تغيير كلمة المرور";
      this.DashboardText = "اللوحة الرئيسية/لوحة التحكم";
      this.FamilyHistoryText = "تاريخ العائلة

[2021-07-26 12:38] Mahinder-Singh commented on #94
@hassanahak please provide the  **Change no. 7 - Change the video to TeleTashafi video. @hassanahak to provide links.**

[2021-07-26 12:39] talhakpg opened #95 "Contact Us page design"
Point no. 1 -
The design will be similar to the following page https://www.afaq.io/

[2021-07-26 12:46] Mahinder-Singh commented on #87
There is no error found for this can we have demo on call so once you encounter we will see or you please provide one video for that .

[2021-07-26 12:51] Mahinder-Singh commented on #86
yes according to HIPAA we will not live session after 20 min because due to some security norms we lead to signout automatically and logout from the portal

[2021-07-26 12:59] Mahinder-Singh commented on #7
you have actually add same username or same email which identify that users is already exists in the database it is not an error it is waring message, so you have to change other username or email alright @talhakpg

[2021-07-26 13:01] talhakpg commented on #95
Point no. 2 -
location: 7578 نجران، ظهرة لبن، الرياض 13784 4708

location: 7578 Najran, Dhahrat Laban, Riyadh 13784 4708

[2021-07-26 13:01] talhakpg commented on #95
Point no. 3 -

منصة آفاق التقنية للإتصالات وتنقية المعلومات
طريق أنس بن مالك
النرجس
الرياض، ١٣٣٢٧

To be as follows :

.تشافي للرعاية عن بعد و الطب الاتصالي
طريق نجران
ظهرة لبن
الرياض ، 13784

Technology horizons platform for communications and information purification
Anas Bin Malik Road
Narcissus
Riyadh, 13327

It will be as follows:

Tashafi for telecare and telemedicine .
Najran Road
Dhahrat L

[2021-07-26 13:03] talhakpg commented on #95
Point no. 4 -

تابعنا على :
انستا
teletashafi

فيس بوك

Teletashafi

Twitter
Yotube

Follow us on :

Instagram
Teletashafi

facebook
Teletashafi

YouTube
Twitter

[2021-07-26 13:04] talhakpg commented on #95
Point no.5 -

أوقات عمل المركز من الساعة 9 صباحا الى 11:30 مساء

The center’s working hours are from 9 am to 11:30 pm

[2021-07-26 13:10] Mahinder-Singh commented on #69
we will show you on call its working fine for us.

[2021-07-26 13:12] Mahinder-Singh commented on #37
![image](https://user-images.githubusercontent.com/61724385/126994452-68f683fb-e442-4b19-ad3a-823a293a8997.png)

[2021-07-26 13:16] Mahinder-Singh commented on #79
https://www.loom.com/share/3c8ecd3191c54ef6b5f835e8e55c3f2d

[2021-07-26 13:18] Mahinder-Singh commented on #76
For Arabic and English Dropdown already been created by @talhakpg on task no #34  and #35

[2021-07-26 13:19] Mahinder-Singh commented on #75
For Arabic and English Dropdown already been created by @talhakpg on task no #34 and #35

[2021-07-26 13:39] talhakpg commented on #22
![image](https://user-images.githubusercontent.com/11936336/126998386-0e7466b9-2ad2-495f-b8ae-3eb955d2c6e8.png)

[2021-07-26 14:02] hassanahak commented on #78
I just it , edit it.

[2021-07-26 16:08] talhakpg commented on #92
Not yet fixed. Tried on a fresh browser.

[2021-07-26 17:02] talhakpg commented on #5
The core issue of the ticket is fixed. I see a lot of other communication. Anything else needs to be taken care of @hassanahak ?

[2021-07-26 17:09] hassanahak commented on #5
Yes please, go ahead to close it.

[2021-07-26 17:12] talhakpg commented on #22
Tashafi is found to facilitate your access to medical and therapeutic services with :
high quality,
confidentiality and
complete security and privacy
accompanying your treatment journey by licensed and specialized consultants and specialists

===========================

Tashafi is found to facilitate access to addiction and mental disorders treatment services with :
high quality,
confidentiality

[2021-07-26 17:18] #5 closed, assigned to talhakpg, hassanahak

[2021-07-26 17:27] talhakpg commented on #23
Xavi not yet been replaced.

[2021-07-26 17:37] talhakpg commented on #87
This was available when I was on call with @hassanahak and also after that when I tried. But seemed to work fine today morning. Keeping this under observation.

[2021-07-26 17:46] talhakpg commented on #83
Not yet fixed.

https://www.screencast.com/t/sZn6Sqcsa

[2021-07-26 18:51] talhakpg commented on #82
This is not fixed yet. The error message shown is wrong.

https://www.screencast.com/t/lheOy3REs6z
Please use the message shared above by hassan.
الرجاء تحميل مستند واحد على الأقل

[2021-07-27 03:30] hassanahak commented on #95
Related links

https://youtu.be/okmynLqKhHw

https://twitter.com/teletashafi/status/1419706548574687233?s=21

https://www.facebook.com/100071108858602/posts/107135581666737/?d=n

https://www.instagram.com/p/CRzHr7VBfsu/?utm_medium=copy_link

0504375380 whatsapp
سيكون الرد خلال ٢٤ ساعة .

0504375380
Answer will be within 24 hr
Teletashafi@gmail.com Email.

[2021-07-27 03:31] hassanahak commented on #94
Related links

https://youtu.be/okmynLqKhHw

https://twitter.com/teletashafi/status/1419706548574687233?s=21

https://www.facebook.com/100071108858602/posts/107135581666737/?d=n

https://www.instagram.com/p/CRzHr7VBfsu/?utm_medium=copy_link

0504375380 whatsapp

Teletashafi@gmail.com Email.

[2021-07-27 03:39] hassanahak commented on #87
yes This for Daily review b/c it is vital one .

[2021-07-27 03:41] hassanahak commented on #22
Tashafi is found to facilitate your access to medical and therapeutic services with :
high quality,
confidentiality and
complete security and privacy
accompanying your treatment journey by licensed and specialized consultants and specialists

[2021-07-27 03:44] hassanahak commented on #75
Regarding all drop downs , we are expecting you to give us a list as we have discussed before. Then  I will Translate them all.

[2021-07-27 03:44] hassanahak commented on #76
Regarding all drop downs , we are expecting you to give us a list as we have discussed before. Then  I will Translate them all.

[2021-07-27 04:03] Aseem2345 commented on #83
![vitalMessage](https://user-images.githubusercontent.com/82496795/127093464-e38bfc4c-8164-48f0-990d-d9e79500dcff.png)

[2021-07-27 04:17] Aseem2345 commented on #26
![PhoneNumber](https://user-images.githubusercontent.com/82496795/127094589-d094e16a-28ff-4609-946f-babfed6f1c69.png)

[2021-07-27 04:32] Aseem2345 commented on #23
@hassanahak kindly replace the Xavi with Tashafi
فيديو تعريفي عن خدمات تشافي و كيفية الحصول عليها و يشمل الفديو التعريفي

[2021-07-27 05:07] Aseem2345 commented on #22
@hassanahak  and @talhakpg  kindly provide the Arabic conversion of there two lines
confidentiality and
complete security and privacy

[2021-07-27 05:18] Aseem2345 commented on #16
![image](https://user-images.githubusercontent.com/82496795/127099660-ef9a3d66-c0a7-4354-a8cd-31e9b5c47983.png)

[2021-07-27 05:26] hassanahak commented on #22
بأمان و سرية و خصوصية تامة

[2021-07-27 05:30] Aseem2345 commented on #16
@hassanahak need more clarification on it

[2021-07-27 05:38] Aseem2345 commented on #22
@hassanahak please provide it like this
confidentiality and = Arabic Meaning
complete security and privacy =Arabic Meaning
Because these are coming in different lines so we need translation of particular line other wise Its create massed-up in design.

[2021-07-27 05:38] talhakpg opened #96 "Home Page revamp 2"
Task 1: Replace the youtube video section with twitter display.

![image](https://user-images.githubusercontent.com/11936336/127101293-6ea4249b-016a-4943-a22b-3a50455bdede.png)

[2021-07-27 05:43] talhakpg commented on #96
Task 2: Change the email to teletashafi@gmail.com

![image](https://user-images.githubusercontent.com/11936336/127101813-e7542eb5-bc83-4c85-85e9-6840465298d2.png)

[2021-07-27 05:45] talhakpg commented on #96
Task 3:  Make the phone number also as whatsapp. Update phone number to : 0504375380

![image](https://user-images.githubusercontent.com/11936336/127101985-cf102564-f86b-4d23-bb7e-99b562aba833.png)

[2021-07-27 05:50] talhakpg commented on #22
confidentiality and = بأمان و
complete security and privacy = سرية و خصوصية تامة

[2021-07-27 06:01] talhakpg commented on #96
Task 3 : Remove عن تشافي and الفئات

![image](https://user-images.githubusercontent.com/11936336/127103588-f47eb7a2-254f-4a5b-af9d-d8fb5ee13b22.png)

[2021-07-27 06:05] talhakpg commented on #96
Task 4: Add facebook.
![image](https://user-images.githubusercontent.com/11936336/127103911-1db4f431-447b-452a-90a4-b5abbfde962d.png)

Instagram
Teletashafi

facebook
Teletashafi

[2021-07-27 06:21] talhakpg opened #97 "Make the top portion of the home page frozen"
When the page is scrolled it should not be hidden. Should be shown on the top along with scrolling down the page.

![image](https://user-images.githubusercontent.com/11936336/127105578-b5209b01-b788-480e-ae64-bf70beb52dd6.png)

[2021-07-27 06:25] talhakpg opened #98 "Clicking on Services on the home page should navigate(scroll down) the user to introductory video"
![image](https://user-images.githubusercontent.com/11936336/127105937-6d6e9c78-7d20-4c22-a4ed-036dc1b0c82e.png)

And after #97 is implemented once the user clicks on 'Home' to should navigate the user to the top of the page(scroll up)

[2021-07-27 06:26] talhakpg opened #99 "Services and specialty to be retained."
This ticket is just to confirm that these two are to be retained. It was asked to be removed earlier.

[2021-07-27 06:27] talhakpg commented on #99
Psychiatric medicine طب نفسي
Addiction medicine طب ادمان
Child psychiatry طب نفسي اطفال
Geriatric psychiatry طب نفسي كبار سن
Forensic psychiatry طب نفسي شرعي
Psychological services العلاج و الاستشارات النفسية
Addiction rehabilitation تأهيل و علاج الادمان
Social consultation services الاستشارات و الخدمات الاجتماعية

[2021-07-27 06:27] talhakpg commented on #99
General medicine طب باطنة
Dermatology طب جلدية
Pediatric medicine طب أطفال
Psychiatric medicine طب نفسي

[2021-07-27 07:10] talhakpg opened #100 "Add check for terms and conditions while signing up."
Please add a mandatory checkbox for the user to confirm that they agree to the terms and conditions before signing up.

English: I agree to the Terms & Conditions
The text 'Terms & Conditions' should have a link to the Terms & Conditions page.

Arabic: أوافق على الشروط و الأحكام
The text 'أوافق على الشروط و الأحكام ' should have a link to the Terms & Conditions page.

![image](https://user-images.

[2021-07-27 07:11] hassanahak commented on #99
This is speciality التخصصات

General Medicine طب باطنة
Dermatology طب جلدية
Pediatric Medicine طب أطفال
Psychiatric Medicine طب نفسي
Psychological Services العلاج و الاستشارات النفسية
Social Consultation Services الاستشارات و الخدمات الاجتماعية
Addiction Rehabilitation تأهيل و علاج الادمان

[2021-07-27 07:15] talhakpg opened #101 "Change of name 'قوانين الحساب' to 'نوع الحساب' on sign up form"
![image](https://user-images.githubusercontent.com/11936336/127111936-450a40d3-1fe7-489a-a238-846d3296a968.png)

[2021-07-27 07:19] hassanahak commented on #99
Services
الخدمات

Medical Consultation
استشارات طبية

Psychiatric Consultation
استشارات طبية نفسية

Education
 تثقيف صحي

Health Care Provider Consultations - 2nd medical opinion
استشارات تخصصية لمقدمي الرعاية الصحية - راي طبي اخر

Psychological and Social Consultation
 استشارات نفسية و اجتماعية

[2021-07-27 07:58] talhakpg opened #102 "Remove/Add some text"
From login window

![image](https://user-images.githubusercontent.com/11936336/127118226-a59a0926-0b3b-46f4-9ed9-dfdb600cf050.png)

[2021-07-27 08:05] talhakpg opened #103 "Replace doctors profile on homepage"
1. Remove all the doctors being displayed currently.
2. We would like to have some doctors displayed with details in Arabic.
3. Please guide us as to how we can control what profiles are to be displayed there.

![image](https://user-images.githubusercontent.com/11936336/127118843-3d4daf82-b767-45ae-9ee1-d8de42d61192.png)

[2021-07-27 08:10] talhakpg commented on #102
Add the word 'منصة' [Please mind the spacing]
![image](https://user-images.githubusercontent.com/11936336/127119665-e9f5695d-21d2-46ea-836c-76a519aa3944.png)

[2021-07-27 08:21] talhakpg commented on #102
![image](https://user-images.githubusercontent.com/11936336/127121393-2543e5f0-423b-4921-a69b-881b6cae95fd.png)

[2021-07-27 08:46] talhakpg commented on #102
![image](https://user-images.githubusercontent.com/11936336/127124829-1239e8f3-cf1c-4783-a040-9127cedf9b9e.png)

[2021-07-27 08:50] talhakpg commented on #102
Make changes to:
A. Should be حضوري[this is corresponding to Face to face]
B. عبر التواصل المرئي[This is corresponding to Online]

![image](https://user-images.githubusercontent.com/11936336/127125103-ffba135e-7da3-43e7-98a2-6c217ae9e7b1.png)

[2021-07-27 09:04] talhakpg opened #104 "Remove two sections from user profile"
![image](https://user-images.githubusercontent.com/11936336/127127482-910b3112-9d87-4a53-b543-9861a55ccb25.png)

[2021-07-27 14:41] talhakpg commented on #104
Verified.  Thanks.

[2021-07-27 14:41] #104 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-27 14:49] talhakpg commented on #102
Verified all the fixed. Thanks.

[2021-07-27 14:51] talhakpg commented on #102
'المبالغالمستردة' should have space in between. Will be 'المبالغ المستردة'

![image](https://user-images.githubusercontent.com/11936336/127176168-b289a3b0-c38f-4259-b62c-8daac31da611.png)

[2021-07-27 14:52] talhakpg commented on #101
Verified the fix. Thanks.

[2021-07-27 14:52] #101 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-27 15:12] talhakpg commented on #102
This is not fixed Yet.

[2021-07-27 15:13] talhakpg commented on #102
Keep the change intact but hide this section for now.

[2021-07-27 16:23] talhakpg opened #105 "Add/Remove features on super admin[Draft]"
Task 1-

![image](https://user-images.githubusercontent.com/11936336/127191047-62f77c15-86cc-45a3-897c-0512ca69545f.png)

[2021-07-27 16:34] talhakpg opened #106 "Future date is accepted for the date of birth."
Please set a block on all future dates.

![image](https://user-images.githubusercontent.com/11936336/127192604-d13f7c23-6617-46e0-881a-2c7ac355da84.png)

@hassanahak if we have an age restriction for the users who will be able to sign up. We should set a restriction for the date of birth accordingly.

[2021-07-27 16:40] talhakpg opened #107 "When a user Signs up using Arabic front of the side they should get successful message in Arabic."
![image](https://user-images.githubusercontent.com/11936336/127193705-d5afa65a-b09e-4b93-9f65-ae15011d8ebf.png)

[2021-07-27 16:41] talhakpg commented on #107
@hassanahak please confirm the Arabic text to be used.

[2021-07-27 16:43] hassanahak commented on #106
Agree with you, should be 18 years and older

[2021-07-27 16:43] talhakpg opened #108 "Days are not properly aligned on calendar. On Arabic front."
![image](https://user-images.githubusercontent.com/11936336/127194149-c644feff-6d1a-4a2b-8045-4fb8ae88f05b.png)

[2021-07-27 16:45] hassanahak commented on #107
رائع

تم تسجيل حسابك بنجاح

[2021-07-27 16:46] hassanahak commented on #107
To make it simple

[2021-07-27 19:45] talhakpg opened #109 "User when uses Arabic text while registering name appears as question marks."
![image](https://user-images.githubusercontent.com/11936336/127217910-d8cd6d5e-dfff-4740-9b83-c3253a955149.png)

[2021-07-27 19:49] talhakpg opened #110 "When user signs up using Arabic front the phone is saved in wrong format."
I entered the number while registering as '0500000005'
but it got saved as '050 000-0005'

![image](https://user-images.githubusercontent.com/11936336/127218403-063e59d2-cc09-4ca1-b8bc-4ee0870e9cfb.png)

[2021-07-28 03:34] hassanahak commented on #22
وجد تشافي ليسهل لك الوصول الى الخدمات الطبية و العلاجية :
بجودة عالية
بأمان و سرية
 و بخصوصية تامة
و يرافق رحلتك العلاجية أطباء استشاريون و أخصائيون مرخصون و متخصصون

[2021-07-28 12:08] talhakpg commented on #99
![image](https://user-images.githubusercontent.com/11936336/127319550-61aae764-8644-4f55-9bda-ea14270a3eed.png)

[2021-07-28 13:15] Mahinder-Singh commented on #94
@hassanahak please provide the https://youtu.be/okmynLqKhHw the embeded link because it is not working with Iframe
for eg: https://youtu.be/embed/okmynLqKhHw

[2021-07-28 13:21] talhakpg commented on #110
https://www.stagingwin.com:6108/web/manage-users/user

Also, when typing in the phone number on the Arabic front it messes up the format.

https://www.screencast.com/t/mLL18paHX

[2021-07-28 13:45] talhakpg commented on #7
The first page has the button in Arabic but after that its shows in English.

![image](https://user-images.githubusercontent.com/11936336/127332979-2aee8bf5-e5b6-4900-b098-3c3d96aa9c3d.png)

[2021-07-28 14:07] talhakpg commented on #19
![image](https://user-images.githubusercontent.com/11936336/127336583-f35c1afa-9454-4578-8112-097abd568c25.png)

[2021-07-28 14:56] talhakpg commented on #22
![image](https://user-images.githubusercontent.com/11936336/127344856-25917da5-eb05-40f5-8523-a42af5630294.png)

[2021-07-28 16:55] talhakpg opened #111 "Remove the scroll bars"
![image](https://user-images.githubusercontent.com/11936336/127364322-72a4e1ea-6d7b-45ad-b498-7ea49c096c20.png)

[2021-07-28 19:32] talhakpg commented on #26
Verified the fix.

[2021-07-28 19:32] #26 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-29 04:51] talhakpg opened #112 "Remove all the tags"
![image](https://user-images.githubusercontent.com/11936336/127433648-7af676eb-0827-409b-aeb4-ba6846940b1e.png)

Remove all such tags available for all the doctors.

[2021-07-29 04:55] talhakpg opened #113 "Please make all the items and the selections in Arabic"
![image](https://user-images.githubusercontent.com/11936336/127433955-30951010-65a7-470f-9848-de431315f878.png)

![image](https://user-images.githubusercontent.com/11936336/127433997-d107ef69-e964-42f7-8313-933d064727d7.png)

[2021-07-29 04:57] talhakpg commented on #9
Verified the fix. Thanks.

[2021-07-29 04:57] #9 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-29 05:09] talhakpg opened #114 "update doctors listed on scroll banner on home page"
1. Add Profile for Hassan.
2. Add 3 more profiles (with Arabic text); without any picture.

[2021-07-29 05:24] talhakpg opened #115 "Use the list of all countries in the dropdown."
English names of countries in English front and Arabic in Arabic.
Currently, it shows only Saudi Arabia and shows in English on both fronts.

![image](https://user-images.githubusercontent.com/11936336/127436338-0ea06816-bab4-4a61-a24d-2987db7ad714.png)

[Note: if updating this will take some time in the meanwhile at least make country name in the Arabic front in Arabic(المملكة العربية السعودية)]

[2021-07-29 05:46] talhakpg opened #116 "Description when saving in Arabic appears as question marks."
![image](https://user-images.githubusercontent.com/11936336/127438131-dab8253e-e785-48f5-8d8e-6c7fc672df02.png)

[2021-07-29 05:57] talhakpg opened #117 "Limit the number of accepted characters for 'national ID'"
![image](https://user-images.githubusercontent.com/11936336/127439278-30821887-227f-4fc8-ba8a-e81cabd08c03.png)

[2021-07-29 05:58] talhakpg commented on #117
@hassanahak Please confirm if the national ID has to be a limit of 10 characters only.

[2021-07-29 06:15] talhakpg opened #118 "Update the first sign in Questionnaire to Arabic for Arabic Front"
![image](https://user-images.githubusercontent.com/11936336/127441102-97362f1e-7e3a-44a6-91a9-af934fc39690.png)

1. Remove it.
2. الأسئلة الأمنية
3. الاسم الأول
4. اسم العائلة
5. الهوية الوطنية
6. حفظ وتسجيل الدخول

[2021-07-29 06:18] talhakpg opened #119 "Side panel misplaced on first login"
![image](https://user-images.githubusercontent.com/11936336/127441502-04d235f6-0f5f-44f8-a44f-8ca908688fab.png)

[2021-07-29 06:42] talhakpg opened #120 "Add option to upload image for SCHSID"
![image](https://user-images.githubusercontent.com/11936336/127444223-9aabad47-fd9b-4585-bb3a-cdd9a5efba98.png)

Include the option to accept PDF also.

[2021-07-29 06:50] talhakpg opened #121 "Provider not found warning message to be in Arabic on Arabic front"
لم يتم العثور على مقدم الخدمة ، أرجو تغيير تفاصيل البحث للحصول على مقدم الخدمة المناسب لك

![image](https://user-images.githubusercontent.com/11936336/127445079-b050e98f-aab1-4825-b45a-b26791ed939b.png)

[2021-07-29 09:02] talhakpg commented on #11
![image](https://user-images.githubusercontent.com/11936336/127463863-50f5d7ec-16e6-47e9-87d6-eda7a6b64c59.png)

[2021-07-29 09:02] talhakpg commented on #11
![image](https://user-images.githubusercontent.com/11936336/127464010-bdf5c1f5-236b-44ae-8385-263ae0cc1b8e.png)

[2021-07-29 09:05] talhakpg commented on #11
![image](https://user-images.githubusercontent.com/11936336/127464278-0da55c3a-befa-442f-b18e-6272965f730a.png)

[2021-07-29 11:57] talhakpg opened #122 "Replace payment option fields with one field"
And name it as 'Consultancy Fee'. In Arabic 'رسوم الاستشارة'

![image](https://user-images.githubusercontent.com/11936336/127487000-34aabfb3-28d1-4bde-aac0-68b38b44ef35.png)

[2021-07-29 15:40] talhakpg commented on #107
![image](https://user-images.githubusercontent.com/11936336/127521005-09bb731b-bccd-42a3-a93b-d8d4f54a4660.png)

This should be better looking. We will discuss this on-call.

[2021-07-30 11:06] talhakpg opened #123 "URGENT changes on home page"
Change 1:
![image](https://user-images.githubusercontent.com/11936336/127644088-0aafd61d-ce46-4a8e-8ae3-99c479394497.png)

Line 1 as it is بجودة عالية
Line 2 will be  بأمان و سرية
Line 3 will be  بخصوصية تامة

[2021-07-30 11:11] talhakpg commented on #123
Change 2:

![image](https://user-images.githubusercontent.com/11936336/127644829-d3ccebfe-86db-4155-96cb-9905583afbd3.png)

[2021-07-30 11:12] talhakpg commented on #123
![image](https://user-images.githubusercontent.com/11936336/127644921-743c43a7-c07f-41e4-81ad-ee1e870831ff.png)

[2021-07-30 11:43] talhakpg opened #124 "Page disoriented on web mobile[for iPhone; works well on android]"
On trying to access the language option.

![WhatsApp Image 2021-07-30 at 13 41 23](https://user-images.githubusercontent.com/11936336/127648231-82c7f5b2-9051-4658-bfd9-8e378da79fe0.jpeg)

![WhatsApp Image 2021-07-30 at 13 41 42](https://user-images.githubusercontent.com/11936336/127648248-64d66662-c612-42ea-8294-ccc9b9fb0b19.jpeg)

[2021-07-30 17:15] talhakpg commented on #123
Verified the fix. Thanks.

[2021-07-30 17:15] #123 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-30 17:18] talhakpg commented on #23
Verified the fix. Thanks!

[2021-07-30 17:18] #23 closed, assigned to talhakpg

[2021-07-30 17:21] talhakpg commented on #107
@Mahinder-Singh make this better aligned. also give some spacing between the text and computer icon.

[2021-07-30 17:32] talhakpg commented on #106
We are not able to select a future date that has been fixed. Now we need to restrict the date where a user is not able to accept a date beyond a date which would make their age less than 18 years. Eg. A user if registers on 10th August 2021 should be able to select a date of birth only as 10th August 2003 or before.

[2021-07-30 20:39] talhakpg commented on #96
Task 3 is not fixed yet.

![image](https://user-images.githubusercontent.com/11936336/127709268-01b84d6c-60d4-4685-aabd-643ca5928b3c.png)

[2021-07-30 20:45] talhakpg commented on #95
![image](https://user-images.githubusercontent.com/11936336/127709786-f73a6982-a607-405a-a863-9fee579ccc6f.png)

Make this portion in separate lines as given above.

[2021-07-30 21:02] talhakpg commented on #94
Verified all the fix.
Will open a separate ticket for font and size.
@hassanahak please provide the embedded link for youtube video. will open a ticket for it then.

[2021-07-30 21:02] #94 closed, assigned to talhakpg

[2021-07-30 21:05] talhakpg commented on #90
Verified the fix. Thanks

[2021-07-30 21:05] #90 closed, assigned to talhakpg, Mahinder-Singh

[2021-07-30 21:28] talhakpg commented on #92
It should redirect to a page with sign in page as below:
![image](https://user-images.githubusercontent.com/11936336/127712055-a6d58f10-5c53-4788-8cc6-847358c7a604.png)

Currently, it leads to just home page:
https://www.screencast.com/t/xwO6KwEN

[2021-08-02 11:29] talhakpg commented on #42
The other fields are still mandatory.

[2021-08-02 13:07] Aseem2345 commented on #109
Create new registration then its not showing ???.

[2021-08-02 13:13] Aseem2345 commented on #99
@adhamgsalem  kindly check all Service and Specialty Issues.

[2021-08-03 03:42] Mahinder-Singh commented on #50
According to base design it is exactly on the same side if we need to shift it would change in design structure as well from beginning

[2021-08-03 04:12] Aseem2345 commented on #96
![image](https://user-images.githubusercontent.com/82496795/127956609-d85bdd04-43e3-4959-8352-1bdc80282e3f.png)

[2021-08-03 04:13] Aseem2345 commented on #96
Point 3 is also fixed here only 2 links are coming.

[2021-08-03 04:35] Aseem2345 commented on #84
@talhakpg AND @Teletashafi
provide info regarding this  I remove it or not ?

[2021-08-03 04:40] Aseem2345 commented on #84
![image](https://user-images.githubusercontent.com/82496795/127958730-2f46cad6-4a1b-4513-bc79-4ac22ea89645.png)
We are remove these two links .

[2021-08-04 03:59] Aseem2345 commented on #19
Amount is not possible to change in Arabic.

[2021-08-04 07:14] talhakpg commented on #44
![image](https://user-images.githubusercontent.com/11936336/128137950-a4a47219-ca7c-4622-820d-314f8fbab8d3.png)

I tried on fresh browser. Still getting the same.

[2021-08-04 07:17] talhakpg commented on #11
Verified the fixes.

[2021-08-04 07:17] #11 closed, assigned to talhakpg, Mahinder-Singh

[2021-08-04 08:05] talhakpg commented on #61
@Aseem2345 could you please guide which page is this.

[2021-08-04 09:19] aseemkatoch001 commented on #61
@talhakpg  this page is coming when  you click on profile after this  this section  is coming .
![image](https://user-images.githubusercontent.com/40025168/128156183-d1744215-3821-41d1-b618-ca3b240b5de8.png)

[2021-08-04 09:39] Aseem2345 commented on #58
![image](https://user-images.githubusercontent.com/82496795/128158998-b053694d-c3af-4e48-8754-e6aa5a976f3e.png)
@talhakpg in this sheet SAR missing And main issue is this.
so provide the exact translation that is correct.

[2021-08-04 10:11] Aseem2345 commented on #77
@talhakpg  This text is created by staff so staff can delete it user is unauthorized to delete it .

[2021-08-05 07:22] Aseem2345 commented on #108
Not Possible

[2021-08-27 18:25] hassanahak opened #125 "testing"
functionality details